<div class="panel panel-primary">
  
  <div class="panel-heading">
    Registration Form
  </div>

  <div class="panel-body">

      <form class="form-horizontal">

          <fieldset>
            
              <div class="form-group">

                  <label class="col-md-2 control-label" for="firstName">First Name</label> 

                  <div class="col-md-8">
                    <input id="firstName" class="form-control" type="text" placeholder="First Name (required)"/>
                  </div>
              </div>

              <div class="form-group">

                <label class="col-md-2 control-label" for="lastName">Last Name</label> 

                <div class="col-md-8">
                  <input id="lastName" class="form-control" type="text" placeholder="Last Name (required)"/>
                </div>
            </div>

            <div class="form-group">

              <label class="col-md-2 control-label" for="email">Email</label> 

              <div class="col-md-8">
                <input id="email" class="form-control" type="email" placeholder="Email (required)"/>
              </div>
          </div>

          <div class="form-group">
            <div class="col-md-offset-1 col-md-8 checkbox" >
                <label>
                    <input id="sendNewsLetter"
                           type="checkbox" >
                    Send weekly news letter
                </label>
            </div>
        </div>

        <div class="form-group">

          <div class="col-md-4 col-md-offset-2">
              <span>
                  <button class="btn btn-primary"
                          type="submit">
                      Submit
                  </button>
              </span>

            </div>
        </div>

      </fieldset>

    </form>

  </div>
</div>