<div class="panel panel-primary">
  
  <div class="panel-heading">
    Registration Form
  </div>

  <div class="panel-body">

      <form class="form-horizontal" [formGroup]="registrationForm">

          <fieldset>
            
              <div class="form-group" [ngClass]="{'has-error': (registrationForm.get('firstName').touched || 
                                                  registrationForm.get('firstName').dirty) && 
                                                  !registrationForm.get('firstName').valid }">

                  <label class="col-md-2 control-label" for="firstName">First Name</label> 

                  <div class="col-md-8">
                    <input id="firstName" class="form-control" type="text" placeholder="First Name (required)" formControlName="firstName"/>

                    <span class="help-block" *ngIf="(registrationForm.get('firstName').touched || 
                                                    registrationForm.get('firstName').dirty) && 
                                                    registrationForm.get('firstName').errors">
                        <span *ngIf="registrationForm.get('firstName').errors.required">
                          Please enter your first name.
                        </span>
                        <span *ngIf="registrationForm.get('firstName').errors.minlength">
                            The first name must be longer than 3 characters.
                        </span>
                    </span>

                  </div>
              </div>

              <div class="form-group" [ngClass]="{'has-error': (registrationForm.get('lastName').touched || 
                          registrationForm.get('lastName').dirty) && 
                          !registrationForm.get('lastName').valid }">

                <label class="col-md-2 control-label" for="lastName">Last Name</label> 

                <div class="col-md-8">
                  <input id="lastName" class="form-control" type="text" placeholder="Last Name (required)" formControlName="lastName"/>

                  <span class="help-block" *ngIf="(registrationForm.get('lastName').touched || 
                                                    registrationForm.get('lastName').dirty) && 
                                                    registrationForm.get('lastName').errors">
                        <span *ngIf="registrationForm.get('lastName').errors.required">
                          Please enter your last name.
                        </span>
                        <span *ngIf="registrationForm.get('lastName').errors.minlength">
                            The last name must be longer than 3 characters.
                        </span>
                    </span>
                </div>
            </div>

            <div class="form-group">

              <label class="col-md-2 control-label" for="email">Email</label> 

              <div class="col-md-8">
                <input id="email" class="form-control" type="email" placeholder="Email (required)" formControlName="email"/>
              </div>
          </div>

          <div class="form-group">
            <div class="col-md-offset-1 col-md-8 checkbox" >
                <label>
                    <input id="sendNewsLetter"
                           type="checkbox" formControlName="sendNewsLetter">
                    Send weekly news letter
                </label>
            </div>
        </div>

        <div class="form-group">

          <div class="col-md-4 col-md-offset-2">
              <span>
                  <button class="btn btn-primary"
                          type="submit" [disabled]="!registrationForm.valid"  >
                      Submit
                  </button>
              </span>

            </div>
        </div>

      </fieldset>

    </form>

  </div>
</div>